{% extends "base.html" %}

{% block content %}

<h1 class="mt-5">Book List</h1>
<ul>
    {% for object in object_list %}
    <div class="card">
            <img class="card-img-top" src="https://www.petmd.com/sites/default/files/Acute-Dog-Diarrhea-47066074.jpg" style="height:250px;width:250px"alt="{{object.breed}}">
            <div class="card-body">
              <h4 class="card-title">{{object.title}}</h4>
              <p>Author: {{object.color}}</p>
              <p>Publisher: {{object.publisher}}</p>
              <p>Publication: {{object.publication}}</p>
              <p>ISBN: {{object.isbn}}</p>
              <p>Notes: {{object.notes}}</p>
            </div>
          </div>

    <div class="card">
        
    </div>
    {% endfor %}
</ul>
   
{% endblock %}
